body{
    background-color:#1a5e1a;
}
.linha{
    color: red;
    
}
.con, .lis_home{
    color: rgb(229, 229, 229);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(153, 0, 0);
    color : white;
}